@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* ==============================================================
   A MARRETA ATÔMICA: Forçando a barra em TODOS os elementos
   ============================================================== */

*::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

*::-webkit-scrollbar-track {
  background: #030712 !important;
  border-radius: 10px !important;
}

*::-webkit-scrollbar-thumb {
  background-color: #374151 !important;
  border-radius: 10px !important;
  /* Cria uma "bordinha" invisível para a barra não colar nos cantos */
  border: 2px solid #030712 !important; 
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ea580c !important;
}

/* Suporte forçado para o Firefox */
* {
  scrollbar-width: thin !important;
  scrollbar-color: #374151 #030712 !important;
}